

body {
	color: black;
	background-color: white;
	font-size: 12pt;
	font-family: Open Sans;
	margin: 0 auto;
	text-align: center;
}

#header { 
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 20px 20px 20px;
}

#subheader {
	font-style: italic;
	padding: 0px 20px 20px 20px;
}

a {
	text-decoration: none;
}

#link {
	width:200px;
	background-color: #C5D0E6;
	font-color: #fff;
	font-weight: bold;
	padding: 20px 15px;
	margin: 35px auto 50px;
	
}
